.feature-item {
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
  }

.feature-item:hover {
    font-weight: bold;
    border-bottom-width: 5px; 
}


.quote {
    display: none;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

.quote.fade-up {
    opacity: 1;
    transform: translateY(0);
}

.center-container {
    justify-content: center;
}

.show-more-link {
    text-decoration: none;
    color: #6c757d;
}

.show-more-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6c757d; 
    transition: width 1.5s ease-in-out;
    transform-origin: left;
    transition-delay: 1s; 
}

.show-more-link:hover {
    color: #6c757d; 
    text-decoration: underline;
}

.show-more-link:hover::before {
    width: 100%;
    transform: scaleX(1); 
}