.feature-item {
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 3px solid transparent; /* Initial transparent border-bottom */
    transition: 0.3s ease-in-out;
  }

.feature-item:hover {
    font-weight: bold;
    border-bottom-width: 5px; /* Increase border-bottom width on hover */
}


.quote {
    display: none;
    opacity: 0;
    transform: translateY(20px); /* Initial translateY value for fade-up effect */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

.quote.fade-up {
    opacity: 1;
    transform: translateY(0);
}

.center-container {
    justify-content: center;
}

.show-more-link {
    text-decoration: none;
    color: #6c757d; /* Set the default color */
    transition: color 1s ease-in-out; /* Add transition for color change */
}

.show-more-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6c757d; /* Match the text-secondary color */
    transition: width 1s ease-in-out; /* Add transition for width change */
}

.show-more-link:hover {
    color: #6c757d; /* Change the color on hover */
    text-decoration: underline; /* Add underline on hover */
}
.show-more-link:hover::before {
    width: 100%; /* Expand the width on hover */
  }