body {
    font-family: 'Lato', sans-serif;
    padding-top: 80px; 
}

.banner-background {
    background-image: url('images/background.png'); /* Set your background image path */
    background-size: cover;
    background-position: center;
    padding: 100px 0; /* Adjust the padding according to your design */
    text-align: center;
}

/* Default styling for all links inside the footer col-md-4 div */
footer .col-md-4 a {
    text-decoration: none;
    color: #000; /* Default link color */
}

/* Hover effect for all links inside the footer col-md-4 div */
footer .col-md-4 a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Styling for the h5 link inside the footer col-md-4 div */
footer .col-md-4 a h5 {
    color: #000; /* Default text color for h5 */
}

/* Hover effect for the h5 link inside the footer col-md-4 div */
footer .col-md-4 a h5:hover {
    text-decoration: underline; /* Underline on hover */
    color: #17a2b8; /* Hovered link color for h5 */
}

.dropdown-toggle::after {
    display: none;
}


.custom-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
    background-color: transparent;
    outline: 1px solid gray; /* Adjust the color of the outline */
}

.dropdown-menu {
    border-radius: 0; /* Remove rounded corners */
}

.button-contact-us {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    overflow: hidden; /* Ensure the underline stays hidden */
    transition: color 0.3s;
}

.button-contact-us span {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
}

.button-contact-us span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff; /* Change the color of the underline */
    transition: width 0.3s;
}

.button-contact-us:hover {
    color: #fff;
}

.button-contact-us:hover span::after {
    width: 100%;
}

.button-contact-us:hover span {
    transform: scale(1.2); /* Change the scale factor to control the size increase */
}
