.animated-background {
    animation: fadeInBackground 2s ease-out; /* You can adjust the duration and timing function as needed */
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-img {
    width: 100%; /* Make the image take up the full width of the column */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing */
    margin: 0 auto; /* Center the image horizontally */
}

.img-infrastructure img {
    opacity: 0.2; /* Set initial transparency */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.img-infrastructure img:hover {
    opacity: 1; /* Set opacity to 1 on hover */
}
