.timeline-container {
    max-height: 400px;
    overflow-y: auto;
}


/* Style for Webkit browsers (Chrome, Safari) */
.timeline-container::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
}

.timeline-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none; 
}

.timeline-container::-webkit-scrollbar-track {
    background-color: transparent; 
}

/* Style for Firefox */
.timeline-container {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.timeline {
    list-style: none;
    padding: 0;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.timeline-item-2-divider{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.timeline-item-left-1 {
    margin-left: 450px;
}

.timeline-item-left-2 {
    margin-left: 185px;
}

.timeline-item-left-3 {
    margin-left: 275px;
}

.timeline-item-left-4 {
    margin-left: 205px;
}

.timeline-item-left-5 {
    margin-left: 175px;
}

/* .timeline-item-left, */
.timeline-item-right {
    flex-basis: 40%;
}

.timeline-item-divider {
    display: flex;
    align-items: center;
}

.timeline-item-divider span {
    flex-grow: 1; 
    background-color: #000;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 12px;
    text-align: center;
}

.timeline-item-divider::before {
    content: "";
    flex-grow: 1; 
    height: 2px;
    background-color: #000;
}


.timeline-item-left-divider {
    padding-left: 18px;
}

.timeline-item-divider-2 {
    position: relative;
}

.timeline-item-divider-2 span {
    padding: 0.75px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 150px;
}

.timeline-item-divider-2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: #000;
    z-index: 0;
    border-radius: 12px;
}